//GitHub project
package permithub;


public class PermitHub {


    public static void main(String[] args) {
       
System.out.println("Hello paliogitHub");
System.out.println("xaxaxaxaxax");
System.out.println("xoxoxoxoxox");

System.out.println(" PLH 24 kai xero psomi");
}

}
/PermitHub/nbproject/private/